<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div class="about-container">
    <div class="about_img">
        <img src="/img/1.jpg" alt="profile-picture" class="profile-picture">
       
    </div>
    <div>
        <h2 class="My-name"> about Evans Mwangi.</h2>
        <p class="inspo-text">I am here to make sure I inspire a future pioneer to become whatever they greatly desire.</p>
    </div>
</div>
<div class="about-text">
    <p class="my-text">I am a Civil Engineer based in Nairobi, Kenya. Since my early childhood days, I have enjoyed turning complex problems into simple and intuitive designs. I have been able to overcome somewhat unsolvable problems with ease coming from my Civil Engineering exprerience.  My passion for technology led me to explore the world of web development, where I found a creative outlet to bring ideas to life on the digital canvas. 
        
    </p>
    <p class="my-text">
        My journey in the world of web development began with self-learning, online courses, and hands-on projects. I quickly realized that the synergy between civil engineering and web development allows me to approach challenges from diverse angles.
    </p>
    <p class="my-text">
        When I'm not designing structures or coding websites, you'll find me exploring the latest technologies, experimenting with new coding techniques, or enjoying sports activities. I believe in lifelong learning and strive to stay updated with the ever-evolving tech landscape.
    </p>
    <p class="my-text">
        Whether it's developing a complex web application or designing a resilient infrastructure, I'm driven by a passion for excellence, attention to detail, and a strong desire to contribute positively to the world and make it a safer place.
    </p>
    <p class="my-text">
        Feel free to reach out to me via the links on my contacts page. Let's connect and discuss how we can collaborate on exciting projects that leverage the power of both civil engineering and web development.
    </p>
</div>
</body>
</html>