<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>

<body>
    <div class="contact-text">
        <h3>Lets make something awesome together</h3>
    </div>


    <div class="socials">
        <footer id="footer">
            <div class="container-fluid">
                <a href="https://twitter.com/OriEvans86451"> <i
                        class="social-icon fa-brands fa-x-twitter fa-lg"></i></a>
                <a href="https://www.facebook.com/snave.kings/"><i
                        class="social-icon fa-brands fa-facebook-f fa-lg"></i></a>
                <a href="https://www.instagram.com/_.snave_/"><i
                        class="social-icon fa-brands fa-instagram fa-lg"></i></a>
                <a href="mailto:kingorievans45@gmail.com"><i class="social-icon fa-solid fa-envelope fa-lg"></i></a>
                <a href="https://github.com/Evans-oss"> <i class="social-icon fa-brands fa-square-github fa-lg"></i></a>

            </div>
        </footer>
    </div>
</body>

</html>